{{> head }}
{{> header }}
<div class="card" style="width: 18rem;">
    <div class="container">
        <img class="card-img-top" src="assets/img/img.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
<script>
    document.getElementById('home').classList.remove('active')
    document.getElementById('about').classList.add('active')
</script>
{{> footer }}